// @import ../../../../variables
.quizzes
  background: #fff
  padding: 16px 30px
  border-radius: 15px
  min-height: 300px !important
  max-height: 400px
  // overflow-y: hidden
  // .scrollY
  //   overflow-y: auto
  //   height: auto
  //   &::-webkit-scrollbar
  //     width: 9px
  //     height: 9px
  //   &::-webkit-scrollbar-thumb
  //     background: linear-gradient(13deg, $darkmain 14%, $main 46%)
  //     border-radius: 6px

  //   &::-webkit-scrollbar-thumb:hover
  //     background: linear-gradient(13deg, $darkmain 14%,$main 64%)

  //   &::-webkit-scrollbar-track
  //     background: #ffffff
  //     border-radius: 7px
  //     box-shadow: inset 7px 10px 12px #f0f0f0
.notDone
  &.quizzes
    padding: 7px 30px
    .title
      padding-top: 3px
      padding-bottom: 7px
      border-bottom: 1px solid #ececec
.recomendQuizCard
  background: #eaf0f3
  width: 80%
  padding: 15px
  border-radius: 10px
  margin: 0 auto
  .presentation
    height: 50px
    width: 50px
    border-radius: 10px
    margin-right: 20px
