.recomendQuizCard
  background: #eaf0f3
  width: 80%
  padding: 15px
  border-radius: 10px
  margin: 0 auto
  .presentation
    height: 50px
    width: 50px
    border-radius: 10px
    margin-right: 20px
