@import ../../variables
.createHomework
  padding: 40px 23%
  background: #b2e2f354
  form
    .Block
      background: #fff
      padding: 20px
      border-radius: 15px
      border-top: 15px solid $primary
      img
        width: 40px
    .fa-cog
      width: 50px
      height: 50px
      border-radius: 50%
      cursor: pointer
      background: #00000015
      font-size: 30px
  .buttons
    i, .check, .textIcon
      border-radius: 15px
      width: 120px
      height: 55px
      cursor: pointer
      font-size: 35px
  .alreadyUploadedHw
    width: 700px
    border-radius: 20px
    padding: 40px 0

@media (max-width: 700px)
  .createHomework
    padding: 40px 5%
