@import ../../../variables
.Unit1
  padding: 0 5%
  .themes
    .theme
      border-radius: 5px
      padding: 10px 30px
      text-align: center
      background: $hiperDark

  .cheetsheet
    width: 600px
    margin: 0 auto
    background: #00000010
    border-radius: 5px
    text-align: center
    .title
      background: $primary
      color: #fff
      padding: 20px 0
    .square
      border-bottom: 1px solid #000
      padding: 10px 0
    .row
      padding: 0 20px
      &.spanish
        margin-top: -10px
        h4
          font-size: 18px
          .example
            color: #00000099
      h5
        font-weight: 700
  .indefinidos
    text-align: center
    .titles
      background: $hiperDark
      color: #fff
    .title
      background: $hiperDark
      color: #fff
      display: flex
      justify-content: center
      align-items: center
      font-weight: 700
      font-size: 20px
    .col
      border: 1px solid #ddd
      padding: 10px 0

@media (max-width: 700px)
  .Unit1
    .cheetsheet
      width: 90%
