.text-serif
  font-family: 'Josefin Sans', sans-serif
.text-main
  color: $main
.mr-auto
  margin-right: auto
.btn-main
  color: $primary
  padding: 8px 18px
  border: $primary 1px solid
  transition: all linear 0.3s
  border-radius: 100px
.btn-main:hover
  transition: all linear 0.3s
  color: #fff
  background: $primary
.btn-blue
  transition: all linear 0.3s
  color: #fff
  background: $primary
  padding: 8px 18px
  border: $primary 1px solid
  transition: all linear 0.3s
  border-radius: 100px
.btn-blue:hover
  color: $primary
  background: #fff
  transition: all linear 0.3s

.btn-blue2
  transition: all linear 0.3s
  color: $primary
  background: #fff
  transition: all linear 0.3s
  padding: 8px 18px
  border: $primary 1px solid
  transition: all linear 0.3s
  border-radius: 100px
.btn-blue2:hover
  transition: all linear 0.3s
  background: $primary
  color: #fff

.btn-secondary
  background: $secondary
  color: #000
  transition: all linear 0.3s
  border-radius: 100px
  padding: 8px 18px
  border: 1px solid $dark
.btn-secondary:hover
  transition: all linear 0.3s
  background: #e9e3e3

.flex
  display: flex
  align-items: center
  justify-content: center

.hr
    height: 2px
    border-radius: 1px
    background: #000

.text-mini
  font-size: 10px

.underlineHover
  display: inline-flex
  flex-direction: column
.underlineHover:after
  background: none repeat scroll 0 0 transparent
  bottom: 0
  content: ""
  display: block
  height: 2px
  // left: 50%
  position: relative
  background: #000
  transition: width 0.3s ease 0s, left 0.3s ease 0s
  width: 0
  display: inline-block

.underlineHover:hover:after
  width: 40px
  //left: 0

.inputQuestion
  font-size: 22px
  font-weight: 600
  border: 0px solid !important
  text-align: center !important
  display: flex
  justify-content: center
  align-items: center

.inputAnswer
  font-size: 15px
  font-weight: 600
  padding: 5px 10px
  width: 65%
  border: 0px solid !important
  text-align: left
  display: flex
  justify-content: flex-start
  align-items: center

